<div class="row bg-info text-white" style="height: 600px;">
    <div class="col" style="background-color: cadetblue;">
        <div class="alert alert-warning" role="alert">
            Some burger
            <div>
                <button type="button" class="btn btn-success">EAT!!!!!</button>
            </div>
        </div>
        <div class="alert alert-warning" role="alert">
            Some other burger
            <div>
                <button type="button" class="btn btn-success">EAT!!!!!</button>
            </div>
        </div>
    </div>
    <div class="col" style="background-color: peachpuff;">
        <ul class="list-group" style="color:plum;">
            <li class="list-group-item">This</li>
            <li class="list-group-item">Will</li>
            <li class="list-group-item">Be</li>
            <li class="list-group-item">Burger</li>
            <li class="list-group-item">List</li>
        </ul>
    </div>    
</div>